In [8]:
import pandas as pd
import numpy as np

df = pd.read_excel(r'C:\Users\LIDA7NB\Desktop\Code Latest\sample.xlsx',sheet_name="INBOUND Files to HMHS")

pd.set_option('display.max_columns', None)

df2 = df[['Unnamed: 0','Unnamed: 14','Unnamed: 23','Unnamed: 18','Unnamed: 24','Unnamed: 15','Unnamed: 19','Unnamed: 31','Unnamed: 16']]

df2.shape

c:\highmarkapps\python3.9.2\lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

(33, 9)

In [9]:
df3 = df2.dropna(subset=['Unnamed: 0'])
df3.drop([2,3],inplace=True)
df3

C:\Users\LIDA7NB\AppData\Local\Temp\85\ipykernel_27268\1634097508.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop([2,3],inplace=True)

,Unnamed: 0,Unnamed: 14,Unnamed: 23,Unnamed: 18,Unnamed: 24,Unnamed: 15,Unnamed: 19,Unnamed: 31,Unnamed: 16
0,Requested Setup Date *Required*\nNOTE: We cann...,\nSecure Transport complete folder structure\n...,"Host Name/Server\n(Required, also needed if Co...",System Application ID\n(Required if a system i...,"Destination (NAS, gdg, etc) \nNOTE FOR GDG ONL...","If there is an existing setup, please provide ...",Internal HM User ID\n(Required if internal use...,NOTES,User ID OR Name/Email address\nof new User\n*R...
4,2021-08-27 00:00:00,highmark/hmkny/inbound/dts/penv/image,lnbrwasp07,NaN,/n01/data/imi/hmark/ny/penv/intake,NaN,NaN,NaN,APPIMI
5,2021-08-27 00:00:00,highmark/hmkny/inbound/dts/tenv3/image,lnbrwasq05,NaN,/n01/data/imi/hmark/ny/tenv3/intake,NaN,NaN,NaN,APPIMI
6,2021-08-27 00:00:00,highmark/hmkny/inbound/dts/tenv7/image,lnbrwasq07,NaN,/n01/data/imi/hmark/ny/tenv7/intake,NaN,NaN,NaN,APPIMI
7,2021-08-27 00:00:00,highmark/hmkny/inbound/dts/tenvb/image,lnbrwasq13,NaN,/n01/data/imi/hmark/ny/tenvb/intake,NaN,NaN,NaN,APPIMI
8,2021-08-27 00:00:00,highmark/hmkny/inbound/dts/tenvc/image,lnbrwasq09,NaN,/n01/data/imi/hmark/ny/tenvc/intake,NaN,NaN,NaN,APPIMI

In [10]:
df3.reset_index().drop(['index'],axis=1)

,Unnamed: 0,Unnamed: 14,Unnamed: 23,Unnamed: 18,Unnamed: 24,Unnamed: 15,Unnamed: 19,Unnamed: 31,Unnamed: 16
0,Requested Setup Date *Required*\nNOTE: We cann...,\nSecure Transport complete folder structure\n...,"Host Name/Server\n(Required, also needed if Co...",System Application ID\n(Required if a system i...,"Destination (NAS, gdg, etc) \nNOTE FOR GDG ONL...","If there is an existing setup, please provide ...",Internal HM User ID\n(Required if internal use...,NOTES,User ID OR Name/Email address\nof new User\n*R...
1,2021-08-27 00:00:00,highmark/hmkny/inbound/dts/penv/image,lnbrwasp07,NaN,/n01/data/imi/hmark/ny/penv/intake,NaN,NaN,NaN,APPIMI
2,2021-08-27 00:00:00,highmark/hmkny/inbound/dts/tenv3/image,lnbrwasq05,NaN,/n01/data/imi/hmark/ny/tenv3/intake,NaN,NaN,NaN,APPIMI
3,2021-08-27 00:00:00,highmark/hmkny/inbound/dts/tenv7/image,lnbrwasq07,NaN,/n01/data/imi/hmark/ny/tenv7/intake,NaN,NaN,NaN,APPIMI
4,2021-08-27 00:00:00,highmark/hmkny/inbound/dts/tenvb/image,lnbrwasq13,NaN,/n01/data/imi/hmark/ny/tenvb/intake,NaN,NaN,NaN,APPIMI
5,2021-08-27 00:00:00,highmark/hmkny/inbound/dts/tenvc/image,lnbrwasq09,NaN,/n01/data/imi/hmark/ny/tenvc/intake,NaN,NaN,NaN,APPIMI

In [11]:
a = len(df3['Unnamed: 0'])

df4 = df3.dropna(thresh=a,axis=1)
df4.drop(['Unnamed: 0'],axis=1,inplace=True)

C:\Users\LIDA7NB\AppData\Local\Temp\85\ipykernel_27268\925125909.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop(['Unnamed: 0'],axis=1,inplace=True)

In [12]:
df4.reset_index().drop(['index'],axis=1,inplace = True)
df5 = df4.drop([0])
a = df5.columns
st_folders = []
ids = [] 
dest_folders = []
transfersite = []
    
for i in a:
    for j in df5[i]:
        if "inbound"in j or "outbound" in j:
            st_folders.append(j)
        elif "APP" in j:
            ids.append(j)
        elif "corpdata" in j or "n01" in j:
            dest_folders.append(j)
        else:
            transfersite.append(j)
       
#print(st_folders)       

fold = []            
for i in st_folders:
    a= i.split("/")
    fold.append(a)
    

for i in range(len(fold)):
    for j in (fold[i]):
        index = fold[i].index(j)
        le = len(fold[i])
        if index == (le - 1):
            print("This needs to be printed under 2770")
            print(j)
        else:
            print("This needs to be printed under 2755")
            print(j)
        #print(index)
        
        

#print((fold[0]))

This needs to be printed under 2755
highmark
This needs to be printed under 2755
hmkny
This needs to be printed under 2755
inbound
This needs to be printed under 2755
dts
This needs to be printed under 2755
penv
This needs to be printed under 2770
image
This needs to be printed under 2755
highmark
This needs to be printed under 2755
hmkny
This needs to be printed under 2755
inbound
This needs to be printed under 2755
dts
This needs to be printed under 2755
tenv3
This needs to be printed under 2770
image
This needs to be printed under 2755
highmark
This needs to be printed under 2755
hmkny
This needs to be printed under 2755
inbound
This needs to be printed under 2755
dts
This needs to be printed under 2755
tenv7
This needs to be printed under 2770
image
This needs to be printed under 2755
highmark
This needs to be printed under 2755
hmkny
This needs to be printed under 2755
inbound
This needs to be printed under 2755
dts
This needs to be printed under 2755
tenvb
This needs to be printed under 2770
image
This needs to be printed under 2755
highmark
This needs to be printed under 2755
hmkny
This needs to be printed under 2755
inbound
This needs to be printed under 2755
dts
This needs to be printed under 2755
tenvc
This needs to be printed under 2770
image

In [18]:
a = set(ids)
print(a)

{'APPIMI'}